<!DOCTYPE html>
<html>
<head>
    <title>Teacher List</title>
</head>
<body>
    <h1>Teachers List</h1>
    <ul>
        {% for teacher in teachers %}
        <li>
            <strong>First Name:</strong> {{ teacher.first_name }}<br>
            <strong>Last Name:</strong> {{ teacher.last_name }}<br>
            <strong>Email:</strong> {{ teacher.email }}<br>
            <strong>Birth Date:</strong> {{ teacher.birth_date }}<br>
            <strong>Phone Number:</strong> {{ teacher.phone_number }}<br>
            <strong>Qualification:</strong> {{ teacher.qualification }}
        </li>
        {% endfor %}
    </ul>
</body>
</html>

