<!DOCTYPE html>
<html>
<head>
    <title>Group List</title>
</head>
<body>
    <h1>Groups List</h1>
    <ul>
        {% for group in groups %}
        <li>
            <strong>Group Number:</strong> {{ group.group_number }}<br>
            <strong>Email Group:</strong> {{ group.email_group }}<br>
            <strong>Subject:</strong> {{ group.subject }}<br>
            <strong>Students Count:</strong> {{ group.students_count }}<br>
            <strong>Start Date:</strong> {{ group.start_date }}<br>
            <strong>Description:</strong> {{ group.description }}
        </li>
        {% endfor %}
    </ul>
</body>
</html>
